<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet</servlet-class>
        <init-param>
            <param-name>color</param-name>
            <param-value>Red</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>ValidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/ValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Httpsession</servlet-name>
        <servlet-class>Httpsession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Httpsession</servlet-name>
        <url-pattern>/Httpsession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HTTPSESSION2</servlet-name>
        <servlet-class>HTTPSESSION2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HTTPSESSION2</servlet-name>
        <url-pattern>/HTTPSESSION2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Url</servlet-name>
        <servlet-class>Url</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Url</servlet-name>
        <url-pattern>/Url</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>Url2</servlet-name>
    <servlet-class>Url2</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Url2</servlet-name>
        <url-pattern>/Url2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hidden</servlet-name>
        <servlet-class>Hidden</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hidden</servlet-name>
        <url-pattern>/Hidden</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hidden2</servlet-name>
        <servlet-class>Hidden2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hidden2</servlet-name>
        <url-pattern>/Hidden2</url-pattern>
    </servlet-mapping>
</web-app>